#product-tab {
  padding: 12px;

  #product-list {
    margin-top: 18px;

    .product-list-container {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 10px 0px;
          padding-left: 8px;
          border-bottom: 1px solid rgb(240, 240, 240);
          .count {
            width: 20px;
          }
          .info {
            width: 50%;
            display: flex;
            justify-content: space-between;
            span {
              width: 33%;
              text-align: center;
            }
            span.name:hover {
              color: rgb(70, 70, 252);
              cursor: pointer;
              font-weight: bold;
            }
          }
          .tools {
            display: flex;
            margin-left: auto;
            margin-right: 12px;
            width: 100px;
            span,
            button {
              text-align: center;
              background: none;
              margin-left: 12px;
              i {
                font-size: 1.1rem;
              }
            }
            button {
              opacity: 0.6;
            }
            .remove {
              color: rgb(255, 96, 96);
            }
            .edit {
              color: rgb(80, 80, 252);
            }
            .add {
              color: rgb(192, 148, 25);
            }
          }
        }
        li:hover {
          background: rgb(235, 235, 235);
          transition: ease .2s;
          .tools {
            button {
              opacity: 1;
            }
          }
        }
        .title-row {
          background: rgb(235, 235, 235);
          font-weight: bold;
          border-bottom: 1px solid black;
        }
      }
    }

    .client-pagination {
      margin-top: 24px;
      display: flex;
      justify-content: center;
    }
  }

  #product-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        margin-right: 12px;
        input {
          margin-left: 4px;
          border-radius: 0px;
          border: 1px solid rgb(219, 219, 219);
          padding: 4px 8px;
          font-size: 0.9rem;
          outline: none;
          line-height: 20px;
        }
        button.staff-search {
          line-height: 20px;
          padding: 4px 8px;
          border: 1px solid rgb(219, 219, 219);
          transform: translateX(-1px);
        }
      }

      .add {
        margin-left: auto;
        button {
          padding: 4px 12px;
          border-radius: 4px;
          background: rgb(74, 93, 122);
          color: white;
          i {
            font-size: 0.9rem;
            margin-right: 12px;
          }
        }
      }
    }
  }

  #product-create {
    position: fixed;
    top: 0;
    left: 25%;
    overflow: scroll;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(4px);
    z-index: 1;
    form {
      span.close {
        opacity: 1;
        background: rgb(240, 240, 240);
        position: absolute;
        right: 1px;
        top: 1px;
        color: rgb(252, 50, 50);
        font-size: 0.8rem;
        padding: 6px 16px;
        margin: 0;
      }
      position: absolute;
      overflow-x: scroll;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: white;
      box-shadow: 0px 0px 12px 0px;
      padding: 32px 24px;
      border-radius: 4px;
      .form-container {
        width: 80%;
        margin: 0 auto;
        h4 {
          font-weight: bold;
          margin-bottom: 32px;
          text-align: center;
        }
        .create-id,
        .create-year,
        .create-name {
          input {
            border: 1px solid rgb(146, 146, 146);
            padding: 3px 10px;
            width: 80%
          }
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;
          width: 100%;
        }
        .create-desc {
          margin: 24px auto;
        }
        label {
          width: 20%;
          margin: 0;
        }
        .create-cert {
          display: block;
          width: 150px;
          transform: translateX(-6px);
          margin-left: auto;
          select {
            outline: none;
            line-height: 40px;
            width: 100%;
            padding: 4px;
            border: 1px solid rgb(44, 44, 44);
          }
        }
  
        button.sm-btn {
          width: 120px;
          padding: 8px 0px;
          display: block;
          margin: auto;
          margin-top: 24px;
        }
        button.sm-btn:hover {
          transition: ease 0.2s;
          background: rgb(62, 144, 250);
          color: white;
        }
      }
    }
    form::-webkit-scrollbar {
      display: none;
    }
  }

  #product-info {
    position: fixed;
    top: 0;
    left: 25%;
    overflow: scroll;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1;
    .product-info-container {
      .form {
        padding: 32px;
        padding-top: 0;
        position: relative;
        button {
          position: absolute;
          right: 0;
          top: 0;
          padding: 2px 16px;
          color: rgb(247, 64, 64);
        }
        h4 {
          text-align: center;
          padding: 24px;
          font-weight: bold;
          border-bottom: 1px solid rgb(236, 236, 236);
        }
        .form-container {
          padding-top: 12px;
          display: flex;
          .info {
            width: 30%;
            display: flex;
            flex-direction: column;
            div {
              padding: 4px 24px;
              width: 100%;
              strong {
                margin-right: 12px;
              }
            }
          }
          .products {
            width: 70%;
            ul {
              width: 100%;
              list-style: none;
              margin: 0;
              padding: 0;
              max-height: 180px;
              overflow: scroll;
              li {
                width: 100%;
                display: flex;
                font-size: .9rem;
                border-bottom: 1px solid rgb(207, 204, 204);
                span {
                  text-align: center;
                  padding: 2px 4px;
                  width: 30%;
                  border-left: 1px solid rgb(207, 204, 204);
                }
                span.count {
                  width: 10%;
                }
              }
              li.title-row {
                background: rgb(241, 241, 241);
              }
            }
          }
        }
      }
    }
  }
}
