@media (max-width: 479.98px) {
  #header .header-container .sign .avt-wrapper {
    display: none;
  }
  #staff-tab #staff-list .staff-list-container ul li {
    flex-wrap: wrap;
    .tools {
      order: 1;
      width: 100%;
      button {
        margin-right: 12px;
        margin-left: 0;
      }
    }
    .count {
      width: 12px;
    }
  }
}
@media (max-width: 575.98px) {
  #product-tab #product-list .product-list-container ul li {
    font-size: .7rem;
  }
  #client-tab #client-list ul .title-row {
    display: none;
  }
  #staff-tab #staff-create form .form-container {
    width: auto;
  }

  #staff-tab #staff-create form .form-container .file-upload .image-container {
    width: 40%;
  }

  #staff-tab #staff-menu ul .add button {
    i {
      margin-right: 0;
    }
    span {
      display: none;
    }
  }

  #product-tab #product-menu ul .add button {
    i {
      margin-left: 0;
    }
    span {
      display: none;
    }
  }

  #client-tab #client-client-add .client-add-container .form {
    padding: 8px;
  }

  #client-tab #client-list .client-list-container ul li {
    font-size: 0.7rem;
  }
}

@media (max-width: 767.98px) {
  #client-tab #client-menu ul {
    flex-direction: column;
    li {
      width: 100%;
      margin: 0;
      margin-bottom: 12px;
      input,
      select {
        width: 100%;
        margin: 0 !important;
      }
    }
  }
}

@media (max-width: 991.98px) {
  #client-tab #client-create,
  #staff-tab #staff-create,
  #product-tab #product-create,
  #client-tab #client-client-info,
  #client-tab #client-create-chapter,
  #client-tab #client-client-add,
  #admin-layout #loading {
    left: 0;
  }

  #client-tab #client-client-info .client-info-container .form .form-container {
    flex-wrap: wrap;
  }
  #client-tab #client-client-info .client-info-container .form .form-container .info {
    width: 100%;
  }
  #client-tab #client-client-info .client-info-container .form .form-container .products {
    width: 100%;
  }
  .side__bar-container {
    width: 300px;
    z-index: 100;
    transform: translateX(-100%);
    button {
      position: absolute;
      display: block;
      right: 0;
      transform: translate(100%, -50%);
      padding: 24px 8px;
      background: var(--primary-color);
      top: 50%;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      color: white;
    }
  }

  .side__bar-container.active {
    transform: translateX(0);
    transition: ease-in-out 0.3s;
  }
}

@media (max-width: 1199.98px) {
}
